In [1]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark import SparkConf

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df=spark.read.format("csv").option("header","true").option("inferSchema",'True').load('2018.csv')

In [3]:
#df.createOrReplaceTempView("df1")

In [4]:
#df=spark.sql('select * from df1')
#df.show()

In [2]:
df_pandas = df.limit(5).toPandas()
display(df_pandas)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,None
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,None
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,None
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,None
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,None

In [3]:
df.count()

7213446

In [4]:
df.distinct().count()
#This shows there are no duplicate rows

7213446

In [8]:
df.printSchema()

root
 |-- FL_DATE: timestamp (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: integer (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: double (nullable = true)
 |-- DEP_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: double (nullable = true)
 |-- ARR_DELAY: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CRS_ELAPSED_TIME: double (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: double (nullable = true)
 |-- CARRIER_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)
 |-- NAS_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

In [5]:
c=df.count()
for i in df.columns:
    print(i,(20-len(i))*"-",((df.filter(df[i].isNull()).count())/c)*100)

FL_DATE ------------- 0.0
OP_CARRIER ---------- 0.0
OP_CARRIER_FL_NUM --- 0.0
ORIGIN -------------- 0.0
DEST ---------------- 0.0
CRS_DEP_TIME -------- 0.0
DEP_TIME ------------ 1.5570505414471807
DEP_DELAY ----------- 1.6252149111534209
TAXI_OUT ------------ 1.6057512595228411
WHEELS_OFF ---------- 1.605737396523104
WHEELS_ON ----------- 1.653107266624024
TAXI_IN ------------- 1.653107266624024
CRS_ARR_TIME -------- 0.0
ARR_TIME ------------ 1.653093403624287
ARR_DELAY ----------- 1.8997854839420716
CANCELLED ----------- 0.0
CANCELLATION_CODE --- 98.38379603867556
DIVERTED ------------ 0.0
CRS_ELAPSED_TIME ---- 0.00013862999736880265
ACTUAL_ELAPSED_TIME - 1.8637694106256566
AIR_TIME ------------ 1.8637694106256566
DISTANCE ------------ 0.0
CARRIER_DELAY ------- 81.2473816259247
WEATHER_DELAY ------- 81.2473816259247
NAS_DELAY ----------- 81.2473816259247
SECURITY_DELAY ------ 81.2473816259247
LATE_AIRCRAFT_DELAY - 81.2473816259247
Unnamed: 27 --------- 100.0

In [6]:
df1=df

In [7]:
c=df.count()
for i in df.columns:
    if (((df.filter(df[i].isNull()).count())/c)*100)>80:
        df=df.drop(i)
df.show()

+-------------------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
|            FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|
+-------------------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
|2018-01-01 00:00:00|        UA|             2429|   EWR| DEN|        1517|  1512.0|     -5.0|    15.0|    1527.0|   1712.0|   10.0|        1745|  1722.0|    -23.0|      0.0|     0.0|           268.0|              250.0|   225.0|  1605.0|
|2018-01-01 00:00:00|        UA|             2427|   LAS| SFO|        1115|  1107.0|     -8.0|    11.0|    1118.0|   1223.0|    7.0|        1254|  1230.0|    -24.0|      0.0|     0.0|            99.0|               83.0|    65.0|   414.0|
|2018-01-01 00:00:00|        UA|             2426|   SNA| DEN|        1335|  1330.0|     -5.0|    15.0|    1345.0|   1631.0|    5.0|        1649|  1636.0|    -13.0|      0.0|     0.0|           134.0|              126.0|   106.0|   846.0|
|2018-01-01 00:00:00|        UA|             2425|   RSW| ORD|        1546|  1552.0|      6.0|    19.0|    1611.0|   1748.0|    6.0|        1756|  1754.0|     -2.0|      0.0|     0.0|           190.0|              182.0|   157.0|  1120.0|
|2018-01-01 00:00:00|        UA|             2424|   ORD| ALB|         630|   650.0|     20.0|    13.0|     703.0|    926.0|   10.0|         922|   936.0|     14.0|      0.0|     0.0|           112.0|              106.0|    83.0|   723.0|
|2018-01-01 00:00:00|        UA|             2422|   ORD| OMA|        2241|  2244.0|      3.0|    15.0|    2259.0|      1.0|    2.0|          14|     3.0|    -11.0|      0.0|     0.0|            93.0|               79.0|    62.0|   416.0|
|2018-01-01 00:00:00|        UA|             2421|   IAH| LAS|         750|   747.0|     -3.0|    14.0|     801.0|    854.0|    6.0|         916|   900.0|    -16.0|      0.0|     0.0|           206.0|              193.0|   173.0|  1222.0|
|2018-01-01 00:00:00|        UA|             2420|   DEN| CID|        1324|  1318.0|     -6.0|    11.0|    1329.0|   1554.0|    6.0|        1619|  1600.0|    -19.0|      0.0|     0.0|           115.0|              102.0|    85.0|   692.0|
|2018-01-01 00:00:00|        UA|             2419|   SMF| EWR|        2224|  2237.0|     13.0|    10.0|    2247.0|    627.0|    9.0|         638|   636.0|     -2.0|      0.0|     0.0|           314.0|              299.0|   280.0|  2500.0|
|2018-01-01 00:00:00|        UA|             2418|   RIC| DEN|        1601|  1559.0|     -2.0|    12.0|    1611.0|   1748.0|    8.0|        1813|  1756.0|    -17.0|      0.0|     0.0|           252.0|              237.0|   217.0|  1482.0|
|2018-01-01 00:00:00|        UA|             2417|   PDX| EWR|        2240|  2235.0|     -5.0|     9.0|    2244.0|    624.0|    7.0|         647|   631.0|    -16.0|      0.0|     0.0|           307.0|              296.0|   280.0|  2434.0|
|2018-01-01 00:00:00|        UA|             2416|   ORD| CLE|        2059|  2300.0|    121.0|    24.0|    2324.0|    112.0|    8.0|        2311|   120.0|    129.0|      0.0|     0.0|            72.0|               80.0|    48.0|   316.0|
|2018-01-01 00:00:00|        UA|             2415|   EWR| PDX|         825|   822.0|     -3.0|    15.0|     837.0|   1104.0|    5.0|        1135|  1109.0|    -26.0|      0.0|     0.0|           370.0|              347.0|   327.0|  2434.0|
|2018-01-01 00:00:00|        UA|             2414|   EWR| ATL|        1044|  1055.0|     11.0|    11.0|    1106.0|   1310.0|    5.0|        1318|  1315.0|     -3.0|      0.0|     0.0|           154.0|              140.0|   124.0|   746.0|
|2018-01-01 00:00:00|        UA|             2413|   ORD| BTV|        2114|  2230.0|     76.0|    14.0|    2244.0|    123.0|    5.0|          15|   128.0|     73.0|      0.0|     0.0|           121.0|              118.0|    99.0|   763.0|
|2018-01-01 00:00:00|        UA|             2412|   MCO| LAX|         653|   747.0|     54.0|    14.0|     801.0|   1003.0|   22.0|         930|  1025.0|     55.0|      0.0|     0.0|           337.0|              338.0|   302.0|  2218.0|
|2018-01-01 00:00:00|        UA|             2411|   EWR| SMF|        1810|  1922.0|     72.0|    16.0|    1938.0|   2157.0|    4.0|        2136|  2201.0|     25.0|      0.0|     0.0|           386.0|              339.0|   319.0|  2500.0|
|2018-01-01 00:00:00|        UA|             2410|   RSW| EWR|        1250|  1337.0|     47.0|    12.0|    1349.0|   1600.0|    6.0|        1537|  1606.0|     29.0|      0.0|     0.0|           167.0|              149.0|   131.0|  1068.0|
|2018-01-01 00:00:00|        UA|             2409|   IAH| JAC|         940|   934.0|     -6.0|    18.0|     952.0|   1156.0|    4.0|        1218|  1200.0|    -18.0|      0.0|     0.0|           218.0|              206.0|   184.0|  1265.0|
|2018-01-01 00:00:00|        UA|             2408|   TYS| EWR|        1131|  1140.0|      9.0|     9.0|    1149.0|   1307.0|    5.0|        1333|  1312.0|    -21.0|      0.0|     0.0|           122.0|               92.0|    78.0|   631.0|
+-------------------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
only showing top 20 rows

In [8]:
c=df.count()
for i in df.columns:
    print(i,(20-len(i))*"-",((df.filter(df[i].isNull()).count())/c)*100)

FL_DATE ------------- 0.0
OP_CARRIER ---------- 0.0
OP_CARRIER_FL_NUM --- 0.0
ORIGIN -------------- 0.0
DEST ---------------- 0.0
CRS_DEP_TIME -------- 0.0
DEP_TIME ------------ 1.5570505414471807
DEP_DELAY ----------- 1.6252149111534209
TAXI_OUT ------------ 1.6057512595228411
WHEELS_OFF ---------- 1.605737396523104
WHEELS_ON ----------- 1.653107266624024
TAXI_IN ------------- 1.653107266624024
CRS_ARR_TIME -------- 0.0
ARR_TIME ------------ 1.653093403624287
ARR_DELAY ----------- 1.8997854839420716
CANCELLED ----------- 0.0
DIVERTED ------------ 0.0
CRS_ELAPSED_TIME ---- 0.00013862999736880265
ACTUAL_ELAPSED_TIME - 1.8637694106256566
AIR_TIME ------------ 1.8637694106256566
DISTANCE ------------ 0.0

In [9]:
from pyspark.sql.functions import to_date
from pyspark.sql.functions import col

df=df.withColumn("FL_DATE",to_date(col("FL_DATE"),"yyyy-MM-dd"))

In [10]:
df.printSchema

<bound method DataFrame.printSchema of DataFrame[FL_DATE: date, OP_CARRIER: string, OP_CARRIER_FL_NUM: int, ORIGIN: string, DEST: string, CRS_DEP_TIME: int, DEP_TIME: double, DEP_DELAY: double, TAXI_OUT: double, WHEELS_OFF: double, WHEELS_ON: double, TAXI_IN: double, CRS_ARR_TIME: int, ARR_TIME: double, ARR_DELAY: double, CANCELLED: double, DIVERTED: double, CRS_ELAPSED_TIME: double, ACTUAL_ELAPSED_TIME: double, AIR_TIME: double, DISTANCE: double]>

In [11]:
from pyspark.sql.types import StringType
df = df.withColumn("OP_CARRIER_FL_NUM",df["OP_CARRIER_FL_NUM"].cast(StringType()))

In [12]:
df.select('OP_CARRIER_FL_NUM').dtypes

[('OP_CARRIER_FL_NUM', 'string')]

In [13]:
df.select('OP_CARRIER').distinct().show()

+----------+
|OP_CARRIER|
+----------+
|        UA|
|        NK|
|        AA|
|        EV|
|        B6|
|        DL|
|        OO|
|        F9|
|        YV|
|        MQ|
|        OH|
|        HA|
|        G4|
|        YX|
|        AS|
|        VX|
|        WN|
|        9E|
+----------+

In [14]:
from pyspark.sql.functions import regexp_replace
l={'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'EV':'ExpressJet',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'VX':'Virgin America',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines'}
l=list(l.items())
for i in range(18):
    df=df.withColumn('OP_CARRIER', regexp_replace('OP_CARRIER', l[i][0], l[i][1]))

In [15]:
df.select('OP_CARRIER').distinct().show()

+------------------+
|        OP_CARRIER|
+------------------+
|      Mesa Airline|
|     Allegiant Air|
|   United Airlines|
|    Virgin America|
| Hawaiian Airlines|
|  Republic Airways|
|        ExpressJet|
|  SkyWest Airlines|
| Frontier Airlines|
|      Endeavor Air|
| American Airlines|
|   JetBlue Airways|
|         Envoy Air|
|    Delta Airlines|
|      PSA Airlines|
|   Alaska Airlines|
|   Spirit Airlines|
|Southwest Airlines|
+------------------+

In [16]:
df.agg({'CANCELLED': 'sum'}).show()

+--------------+
|sum(CANCELLED)|
+--------------+
|      116584.0|
+--------------+

In [21]:
df.select('CANCELLED').distinct().show()

+---------+
|CANCELLED|
+---------+
|      0.0|
|      1.0|
+---------+

In [17]:
canceled=df.filter(df['CANCELLED']>0)

In [18]:
canceled.show()

+----------+---------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
|   FL_DATE|     OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|
+----------+---------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
|2018-01-01|United Airlines|             2034|   IAH| MFE|        1440|    null|     null|    null|      null|     null|   null|        1601|    null|     null|      1.0|     0.0|            81.0|               null|    null|   316.0|
|2018-01-01|United Airlines|              864|   LAS| SFO|        1744|    null|     null|    null|      null|     null|   null|        1926|    null|     null|      1.0|     0.0|           102.0|               null|    null|   414.0|
|2018-01-01|United Airlines|              488|   MFE| IAH|        1726|    null|     null|    null|      null|     null|   null|        1844|    null|     null|      1.0|     0.0|            78.0|               null|    null|   316.0|
|2018-01-01|Alaska Airlines|                5|   DCA| LAX|         910|    null|     null|    null|      null|     null|   null|        1230|    null|     null|      1.0|     0.0|           380.0|               null|    null|  2311.0|
|2018-01-01|Alaska Airlines|               64|   WRG| KTN|        1623|    null|     null|    null|      null|     null|   null|        1655|    null|     null|      1.0|     0.0|            32.0|               null|    null|    82.0|
|2018-01-01|Alaska Airlines|               65|   WRG| PSG|        1056|    null|     null|    null|      null|     null|   null|        1119|    null|     null|      1.0|     0.0|            23.0|               null|    null|    31.0|
|2018-01-01|Alaska Airlines|               65|   PSG| JNU|        1204|    null|     null|    null|      null|     null|   null|        1249|    null|     null|      1.0|     0.0|            45.0|               null|    null|   123.0|
|2018-01-01|Alaska Airlines|               73|   SIT| JNU|         600|    null|     null|    null|      null|     null|   null|         641|    null|     null|      1.0|     0.0|            41.0|               null|    null|    95.0|
|2018-01-01|Alaska Airlines|              162|   FAI| ANC|         545|    null|     null|    null|      null|     null|   null|         652|    null|     null|      1.0|     0.0|            67.0|               null|    null|   261.0|
|2018-01-01|Alaska Airlines|              313|   SFO| SEA|         500|    null|     null|    null|      null|     null|   null|         716|    null|     null|      1.0|     0.0|           136.0|               null|    null|   679.0|
|2018-01-01|     ExpressJet|             2853|   SAF| DFW|         650|    null|     null|    null|      null|     null|   null|         946|    null|     null|      1.0|     0.0|           116.0|               null|    null|   551.0|
|2018-01-01|     ExpressJet|             2857|   ROW| DFW|         700|    null|     null|    null|      null|     null|   null|         935|    null|     null|      1.0|     0.0|            95.0|               null|    null|   435.0|
|2018-01-01|     ExpressJet|             2864|   COU| DFW|         545|    null|     null|    null|      null|     null|   null|         742|    null|     null|      1.0|     0.0|           117.0|               null|    null|   489.0|
|2018-01-01|     ExpressJet|             2872|   DFW| GRK|         904|    null|     null|    null|      null|     null|   null|        1005|    null|     null|      1.0|     0.0|            61.0|               null|    null|   134.0|
|2018-01-01|     ExpressJet|             2872|   GRK| DFW|        1035|    null|     null|    null|      null|     null|   null|        1135|    null|     null|      1.0|     0.0|            60.0|               null|    null|   134.0|
|2018-01-01|     ExpressJet|             4004|   DCA| CLE|         645|    null|     null|    null|      null|     null|   null|         815|    null|     null|      1.0|     0.0|            90.0|               null|    null|   310.0|
|2018-01-01|     ExpressJet|             4101|   IAH| BRO|        1005|    null|     null|    null|      null|     null|   null|        1130|    null|     null|      1.0|     0.0|            85.0|               null|    null|   308.0|
|2018-01-01|     ExpressJet|             5456|   MSP| RIC|        1530|    null|     null|    null|      null|     null|   null|        1912|    null|     null|      1.0|     0.0|           162.0|               null|    null|   970.0|
|2018-01-01|     ExpressJet|             4197|   IAH| LRD|        1005|    null|     null|    null|      null|     null|   null|        1133|    null|     null|      1.0|     0.0|            88.0|               null|    null|   301.0|
|2018-01-01|     ExpressJet|             4217|   BRO| IAH|        1200|    null|     null|    null|      null|     null|   null|        1319|    null|     null|      1.0|     0.0|            79.0|               null|    null|   308.0|
+----------+---------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
only showing top 20 rows

In [20]:
df_new=df.filter(df['ARR_DELAY']>0)
df_new.show() #df_new contains delayed flights only

+----------+---------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
|   FL_DATE|     OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|
+----------+---------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
|2018-01-01|United Airlines|             2424|   ORD| ALB|         630|   650.0|     20.0|    13.0|     703.0|    926.0|   10.0|         922|   936.0|     14.0|      0.0|     0.0|           112.0|              106.0|    83.0|   723.0|
|2018-01-01|United Airlines|             2416|   ORD| CLE|        2059|  2300.0|    121.0|    24.0|    2324.0|    112.0|    8.0|        2311|   120.0|    129.0|      0.0|     0.0|            72.0|               80.0|    48.0|   316.0|
|2018-01-01|United Airlines|             2413|   ORD| BTV|        2114|  2230.0|     76.0|    14.0|    2244.0|    123.0|    5.0|          15|   128.0|     73.0|      0.0|     0.0|           121.0|              118.0|    99.0|   763.0|
|2018-01-01|United Airlines|             2412|   MCO| LAX|         653|   747.0|     54.0|    14.0|     801.0|   1003.0|   22.0|         930|  1025.0|     55.0|      0.0|     0.0|           337.0|              338.0|   302.0|  2218.0|
|2018-01-01|United Airlines|             2411|   EWR| SMF|        1810|  1922.0|     72.0|    16.0|    1938.0|   2157.0|    4.0|        2136|  2201.0|     25.0|      0.0|     0.0|           386.0|              339.0|   319.0|  2500.0|
|2018-01-01|United Airlines|             2410|   RSW| EWR|        1250|  1337.0|     47.0|    12.0|    1349.0|   1600.0|    6.0|        1537|  1606.0|     29.0|      0.0|     0.0|           167.0|              149.0|   131.0|  1068.0|
|2018-01-01|United Airlines|             2406|   EWR| TYS|         830|   844.0|     14.0|    20.0|     904.0|   1052.0|    3.0|        1049|  1055.0|      6.0|      0.0|     0.0|           139.0|              131.0|   108.0|   631.0|
|2018-01-01|United Airlines|             2402|   JAC| EWR|        1343|  1351.0|      8.0|    38.0|    1429.0|   2003.0|   10.0|        1959|  2013.0|     14.0|      0.0|     0.0|           256.0|              262.0|   214.0|  1874.0|
|2018-01-01|United Airlines|             2398|   MSY| EWR|        2043|  2131.0|     48.0|    10.0|    2141.0|     54.0|    7.0|          34|   101.0|     27.0|      0.0|     0.0|           171.0|              150.0|   133.0|  1167.0|
|2018-01-01|United Airlines|             2384|   EWR| FLL|        1627|  1624.0|     -3.0|    38.0|    1702.0|   1938.0|    6.0|        1938|  1944.0|      6.0|      0.0|     0.0|           191.0|              200.0|   156.0|  1065.0|
|2018-01-01|United Airlines|             2160|   ORD| MCI|        2030|  2111.0|     41.0|    21.0|    2132.0|   2230.0|    5.0|        2209|  2235.0|     26.0|      0.0|     0.0|            99.0|               84.0|    58.0|   403.0|
|2018-01-01|United Airlines|             2155|   IND| ORD|        1822|  1956.0|     94.0|     9.0|    2005.0|   1947.0|    3.0|        1835|  1950.0|     75.0|      0.0|     0.0|            73.0|               54.0|    42.0|   177.0|
|2018-01-01|United Airlines|             2154|   IAD| FLL|        1729|  1745.0|     16.0|    20.0|    1805.0|   2014.0|    6.0|        2009|  2020.0|     11.0|      0.0|     0.0|           160.0|              155.0|   129.0|   901.0|
|2018-01-01|United Airlines|             2153|   EWR| BTV|        2145|  2359.0|    134.0|    12.0|      11.0|    102.0|    4.0|        2302|   106.0|    124.0|      0.0|     0.0|            77.0|               67.0|    51.0|   266.0|
|2018-01-01|United Airlines|             2150|   LAX| SAN|         602|  1101.0|    299.0|    19.0|    1120.0|   1149.0|    3.0|         701|  1152.0|    291.0|      0.0|     0.0|            59.0|               51.0|    29.0|   109.0|
|2018-01-01|United Airlines|             2148|   SAN| EWR|        2100|  2111.0|     11.0|    13.0|    2124.0|    453.0|    7.0|         459|   500.0|      1.0|      0.0|     0.0|           299.0|              289.0|   269.0|  2425.0|
|2018-01-01|United Airlines|             2147|   EWR| ORD|        1646|  1658.0|     12.0|    17.0|    1715.0|   1811.0|   25.0|        1827|  1836.0|      9.0|      0.0|     0.0|           161.0|              158.0|   116.0|   719.0|
|2018-01-01|United Airlines|             2145|   BDL| EWR|         600|   621.0|     21.0|    14.0|     635.0|    717.0|    4.0|         717|   721.0|      4.0|      0.0|     0.0|            77.0|               60.0|    42.0|   116.0|
|2018-01-01|United Airlines|             2143|   SFO| SAN|         835|   830.0|     -5.0|    51.0|     921.0|   1032.0|    3.0|        1007|  1035.0|     28.0|      0.0|     0.0|            92.0|              125.0|    71.0|   447.0|
|2018-01-01|United Airlines|             2137|   DEN| BZN|        2228|  2227.0|     -1.0|    33.0|    2300.0|     19.0|    6.0|          16|    25.0|      9.0|      0.0|     0.0|           108.0|              118.0|    79.0|   524.0|
+----------+---------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+
only showing top 20 rows

In [21]:
df=df.withColumn('ARR_DELAY',col('ARR_DELAY')/60)
df=df.withColumn('DEP_DELAY',col('DEP_DELAY')/60)

In [22]:
from pyspark.sql.functions import year
from pyspark.sql.functions import month
from pyspark.sql.functions import dayofweek
df_new=df_new.withColumn('FL_YEAR',year(df_new.FL_DATE))
df_new=df_new.withColumn('FL_MONTH',month(df_new.FL_DATE))
df_new=df_new.withColumn('FL_DAYOFWEEK',dayofweek(df_new.FL_DATE))

In [23]:
bd1 = df.withColumn('Delayed', (df.ARR_DELAY >=15).cast('int'))

In [24]:
bd1.select('Delayed').distinct().show()

+-------+
|Delayed|
+-------+
|   null|
|      1|
|      0|
+-------+

In [25]:
bd1.createOrReplaceTempView("bd1")

bd1 = spark.sql("select *, case \
               when DEP_TIME <= 800 then 1 \
               when 800 < DEP_TIME and DEP_TIME <= 1200 then 2 \
               when 1200 < DEP_TIME and DEP_TIME <= 1600 then 3 \
               when 1600 < DEP_TIME and DEP_TIME <= 2100 then 4 \
               else 1 end as TimeSlot \
               from bd1")

In [26]:
from pyspark.ml.feature import StringIndexer


indexer1 = StringIndexer(inputCol='OP_CARRIER',outputCol='INDEX_CARRIER') 
bd2=indexer1.fit(bd1).transform(bd1)

indexer2 = StringIndexer(inputCol='ORIGIN',outputCol='INDEX_ORIGIN') 
bd3=indexer2.fit(bd2).transform(bd2)

bd3.groupBy('OP_CARRIER','INDEX_CARRIER').count().sort('INDEX_CARRIER').show()

+------------------+-------------+-------+
|        OP_CARRIER|INDEX_CARRIER|  count|
+------------------+-------------+-------+
|Southwest Airlines|          0.0|1352552|
|    Delta Airlines|          1.0| 949283|
| American Airlines|          2.0| 916818|
|  SkyWest Airlines|          3.0| 774137|
|   United Airlines|          4.0| 621565|
|  Republic Airways|          5.0| 316090|
|   JetBlue Airways|          6.0| 305010|
|         Envoy Air|          7.0| 296001|
|      PSA Airlines|          8.0| 278457|
|      Endeavor Air|          9.0| 245917|
|   Alaska Airlines|         10.0| 245761|
|      Mesa Airline|         11.0| 215138|
|        ExpressJet|         12.0| 202890|
|   Spirit Airlines|         13.0| 176178|
| Frontier Airlines|         14.0| 120035|
|     Allegiant Air|         15.0|  96221|
| Hawaiian Airlines|         16.0|  83723|
|    Virgin America|         17.0|  17670|
+------------------+-------------+-------+

In [28]:
from pyspark.sql.functions import *

df.stat.corr('FL_DAYOFWEEK','ARR_DELAY')

AnalysisException: Cannot resolve column name "FL_DAYOFWEEK" among (FL_DATE, OP_CARRIER, OP_CARRIER_FL_NUM, ORIGIN, DEST, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, WHEELS_OFF, WHEELS_ON, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, AIR_TIME, DISTANCE)

In [29]:
bd4=bd3.select('DEP_DELAY',
             'DISTANCE', 
             'FL_DAYOFWEEK',
             'INDEX_CARRIER', 
             'TimeSlot',
             'Delayed',
             'FL_MONTH',
             'ACTUAL_ELAPSED_TIME',
             'INDEX_ORIGIN')
             
bd4.limit(10).toPandas()

AnalysisException: Column 'FL_DAYOFWEEK' does not exist. Did you mean one of the following? [bd1.FL_DATE, bd1.AIR_TIME, bd1.ARR_DELAY, bd1.ARR_TIME, bd1.CANCELLED, bd1.DEP_TIME, bd1.DEST, bd1.DISTANCE, bd1.DIVERTED, INDEX_ORIGIN, bd1.ORIGIN, bd1.DEP_DELAY, bd1.Delayed, INDEX_CARRIER, bd1.TAXI_IN, bd1.TAXI_OUT, TimeSlot, bd1.OP_CARRIER, bd1.WHEELS_ON, bd1.CRS_DEP_TIME, bd1.WHEELS_OFF, bd1.CRS_ARR_TIME, bd1.CRS_ELAPSED_TIME, bd1.OP_CARRIER_FL_NUM, bd1.ACTUAL_ELAPSED_TIME];
'Project [DEP_DELAY#3836, DISTANCE#38, 'FL_DAYOFWEEK, INDEX_CARRIER#4043, TimeSlot#3960, Delayed#3930, 'FL_MONTH, ACTUAL_ELAPSED_TIME#36, INDEX_ORIGIN#4129]
+- Project [FL_DATE#3007, OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#3836, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#3814, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, Delayed#3930, TimeSlot#3960, INDEX_CARRIER#4043, UDF(cast(ORIGIN#20 as string)) AS INDEX_ORIGIN#4129]
   +- Project [FL_DATE#3007, OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#3836, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#3814, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, Delayed#3930, TimeSlot#3960, UDF(cast(OP_CARRIER#3433 as string)) AS INDEX_CARRIER#4043]
      +- Project [FL_DATE#3007, OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#3836, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#3814, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, Delayed#3930, CASE WHEN (DEP_TIME#23 <= cast(800 as double)) THEN 1 WHEN ((cast(800 as double) < DEP_TIME#23) AND (DEP_TIME#23 <= cast(1200 as double))) THEN 2 WHEN ((cast(1200 as double) < DEP_TIME#23) AND (DEP_TIME#23 <= cast(1600 as double))) THEN 3 WHEN ((cast(1600 as double) < DEP_TIME#23) AND (DEP_TIME#23 <= cast(2100 as double))) THEN 4 ELSE 1 END AS TimeSlot#3960]
         +- SubqueryAlias bd1
            +- View (`bd1`, [FL_DATE#3007,OP_CARRIER#3433,OP_CARRIER_FL_NUM#3029,ORIGIN#20,DEST#21,CRS_DEP_TIME#22,DEP_TIME#23,DEP_DELAY#3836,TAXI_OUT#25,WHEELS_OFF#26,WHEELS_ON#27,TAXI_IN#28,CRS_ARR_TIME#29,ARR_TIME#30,ARR_DELAY#3814,CANCELLED#32,DIVERTED#34,CRS_ELAPSED_TIME#35,ACTUAL_ELAPSED_TIME#36,AIR_TIME#37,DISTANCE#38,Delayed#3930])
               +- Project [FL_DATE#3007, OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#3836, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#3814, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, cast((ARR_DELAY#3814 >= cast(15 as double)) as int) AS Delayed#3930]
                  +- Project [FL_DATE#3007, OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, (DEP_DELAY#24 / cast(60 as double)) AS DEP_DELAY#3836, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#3814, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                     +- Project [FL_DATE#3007, OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, (ARR_DELAY#31 / cast(60 as double)) AS ARR_DELAY#3814, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                        +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3411, DL, Delta Airlines, 1) AS OP_CARRIER#3433, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                           +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3389, AA, American Airlines, 1) AS OP_CARRIER#3411, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                              +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3367, YX, Republic Airways, 1) AS OP_CARRIER#3389, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                 +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3345, YV, Mesa Airline, 1) AS OP_CARRIER#3367, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                    +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3323, WN, Southwest Airlines, 1) AS OP_CARRIER#3345, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                       +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3301, VX, Virgin America, 1) AS OP_CARRIER#3323, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                          +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3279, OO, SkyWest Airlines, 1) AS OP_CARRIER#3301, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                             +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3257, OH, PSA Airlines, 1) AS OP_CARRIER#3279, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3235, NK, Spirit Airlines, 1) AS OP_CARRIER#3257, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                   +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3213, MQ, Envoy Air, 1) AS OP_CARRIER#3235, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                      +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3191, HA, Hawaiian Airlines, 1) AS OP_CARRIER#3213, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                         +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3169, G4, Allegiant Air, 1) AS OP_CARRIER#3191, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                            +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3147, F9, Frontier Airlines, 1) AS OP_CARRIER#3169, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                               +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3125, EV, ExpressJet, 1) AS OP_CARRIER#3147, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                  +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3103, B6, JetBlue Airways, 1) AS OP_CARRIER#3125, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                     +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3081, 9E, Endeavor Air, 1) AS OP_CARRIER#3103, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                        +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#3059, AS, Alaska Airlines, 1) AS OP_CARRIER#3081, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                           +- Project [FL_DATE#3007, regexp_replace(OP_CARRIER#18, UA, United Airlines, 1) AS OP_CARRIER#3059, OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                              +- Project [FL_DATE#3007, OP_CARRIER#18, cast(OP_CARRIER_FL_NUM#19 as string) AS OP_CARRIER_FL_NUM#3029, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                                 +- Project [to_date(FL_DATE#17, Some(yyyy-MM-dd), Some(Asia/Calcutta)) AS FL_DATE#3007, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                                    +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38]
                                                                                       +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, Unnamed: 27#44]
                                                                                          +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, LATE_AIRCRAFT_DELAY#43, Unnamed: 27#44]
                                                                                             +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, SECURITY_DELAY#42, LATE_AIRCRAFT_DELAY#43, Unnamed: 27#44]
                                                                                                +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, NAS_DELAY#41, SECURITY_DELAY#42, LATE_AIRCRAFT_DELAY#43, Unnamed: 27#44]
                                                                                                   +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, WEATHER_DELAY#40, NAS_DELAY#41, SECURITY_DELAY#42, ... 2 more fields]
                                                                                                      +- Project [FL_DATE#17, OP_CARRIER#18, OP_CARRIER_FL_NUM#19, ORIGIN#20, DEST#21, CRS_DEP_TIME#22, DEP_TIME#23, DEP_DELAY#24, TAXI_OUT#25, WHEELS_OFF#26, WHEELS_ON#27, TAXI_IN#28, CRS_ARR_TIME#29, ARR_TIME#30, ARR_DELAY#31, CANCELLED#32, DIVERTED#34, CRS_ELAPSED_TIME#35, ACTUAL_ELAPSED_TIME#36, AIR_TIME#37, DISTANCE#38, CARRIER_DELAY#39, WEATHER_DELAY#40, NAS_DELAY#41, ... 3 more fields]
                                                                                                         +- Relation [FL_DATE#17,OP_CARRIER#18,OP_CARRIER_FL_NUM#19,ORIGIN#20,DEST#21,CRS_DEP_TIME#22,DEP_TIME#23,DEP_DELAY#24,TAXI_OUT#25,WHEELS_OFF#26,WHEELS_ON#27,TAXI_IN#28,CRS_ARR_TIME#29,ARR_TIME#30,ARR_DELAY#31,CANCELLED#32,CANCELLATION_CODE#33,DIVERTED#34,CRS_ELAPSED_TIME#35,ACTUAL_ELAPSED_TIME#36,AIR_TIME#37,DISTANCE#38,CARRIER_DELAY#39,WEATHER_DELAY#40,... 4 more fields] csv